.header {
    display: flex;
    flex-direction: column;
    background-color: #39b28b;
    justify-content: center;
    color: white;
    height: 200px;
    width: 1400px;
    margin: 20px 5px 0 40px;
    font-family: 'Inter', sans-serif;
    align-items: center;
}

.header header {
    font-size: 35px;
    font-weight: bold;
}

.text_1 {
    padding-top: 20px;
}

.text_2 {
    font-weight: bold;
}
.nav_wrapper {
    background-color: #282828;
    margin: 0 0 0 40px;
    height: 50px;
    display: flex;
    align-items: center;
}

.navigation {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.navigation ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

.navigation li {
    margin: 8px;
}

.navigation li a {
    text-decoration: none;
    color: white;
    padding: 8px;
}


.flex_wrapper {
    display: flex;
}

.flex_container {
    margin: 22px 0 0 60px;
    font-family: 'Inter', sans-serif;
    width: 400px;
}

.flex_container h2 {
    font-weight: bold;
}

.flex_container p {
    font-size: 15px;
}

.image_1 {
    background-color: gray;
    height: 200px;
    padding: 20px 0 0 20px;
}

.flex_container_2 {
    width: 950px;
    font-family: 'Inter', sans-serif;
    margin: 20px 0 0 50px;
}

.flex_container_2 h2 {
    font-weight: bold;
}

.image_2 {
    background-color: gray;
    height: 200px;
    padding: 20px 0 0 20px;
}